{% extends 'base.html' %}
{% include 'navbar.html' %}

{%block body%}
<!-- Popular movie -->
<div class="container-fluid row">
    {% for popular_movie in popular %}
    <div class="card col-md-3 m-3" style="width: 18rem;">
        <img class="w-100" src="{{ popular_movie.poster}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{popular_movie.title}}</h5>
            <a href="/movie/{{popular_movie.id}}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}