{% extends 'base.html'%}
{% include 'navbar.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3> Found {{ movies| count }} matches </h3>
            <hr>
            {% for movie in movies %}
            <div class="card col-md-3 m-3 float-start" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <a href="/movie/{{movie.id}}" class="btn btn-primary">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}