{%extends 'base.html'%}
{% include 'navbar.html' %}

{%block body%}

<div class="container-fluid row">
    {% for showing_movie in showing %}
    <div class="card col-md-3 m-3" style="width: 18rem;">
        <img class="w-100" src="{{ showing_movie.poster}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{showing_movie.title}}</h5>
            <p class="card-text"></p>
            <a href="/movie/{{showing_movie.id}}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}